<app-homenav></app-homenav>
<div class="container edit-profile-container">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="javascipt: void(0)" #edit1 routerLink="editProfileDetails" routerLinkActive="navlink active"  class="nav-link">
                        <span class="link-text">Edit Profile</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="javascipt: void(0)" #edit2 routerLink="changePassword" routerLinkActive="navlink active" class="nav-link">
                        <span class="link-text">Change Password</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="" routerLink="" class="nav-link" routerLinkActive="navlink">
                        <span class="link-text">Apps and Websites</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="" routerLink="" class="nav-link" routerLinkActive="navlink">
                        <span class="link-text">Email and SMS</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" routerLink="" class="nav-link">
                        <span class="link-text">Push Notifications</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="" routerLink="" class="nav-link">
                        <span class="link-text">Manage Contacts</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="" routerLink="" class="nav-link">
                        <span class="link-text">Privacy and Security</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" routerLink="" class="nav-link">
                        <span class="link-text">Login Activity</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="" routerLink="" class="nav-link">
                        <span class="link-text">Emails from Instagram</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 col-lg-9 edit-profile-div">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>






<!-- <div class="row m-auto">
      <div class="col-md-3 col-lg-3" id="myDiv">
          <ul class="navbar-nav">
          
              <li class="logo">
                  <a class="nav-link-heading">
                      <span class="">Review Tab</span>
                      <fa-icon [icon]="faRight"></fa-icon>
                  </a>
              </li>
              
              <li class="nav-item ">
                  <a href="javascipt: void(0)" routerLink="allReviews" class="nav-link active">
                      <fa-icon [icon]="faFile"></fa-icon>
                      <span class="link-text">Self-Reviews</span>
                  </a>
              </li>
              
              <li class="nav-item">
                  <a href="javascipt: void(0)" routerLink="" class="nav-link">
                      <span class="link-text">Pending By Reviewer</span>
                  </a>
              </li>
              
              <li class="nav-item">
                  <a href="javascipt: void(0)" routerLink="pendingByQAer" class="nav-link">
                      <fa-icon [icon]="faEdit"></fa-icon>
                      <span class="link-text">Pending By QAer</span>
                  </a>
              </li>
          
              <li class="nav-item">
                  <a href="javascipt: void(0)" routerLink="closed" class="nav-link">
                      <fa-icon [icon]="faFileSignature"></fa-icon>
                      <span class="link-text">Closed</span>
                  </a>
              </li>
          
          </ul>
      </div>
      
      <div class="col-md-9 col-lg-9 p-1 table-div">
          <router-outlet></router-outlet>
      </div>
  </div> -->



<!-- <div class="col-xs-12">
    <div class="panel panel-default panel-info Profile">
      <div class="panel-heading"> <h6>Edit Profile</h6> </div>
      <div class="top"></div>
        <div>
        <p><strong>{{message}}</strong> </p>
      </div>
      <fieldset>
          <div class="grid-35">
            <label for="avatar">Your Photo</label>
          </div>
          <div class="grid-65">
            <span class="photo" title="Upload your Avatar!"></span>
            <input type="file" class="btn" />
          </div>
        </fieldset>
      
      <div class="panel-body">
        <div class="form-horizontal">
                              <form>
                                    <div class="form-group">
                                          <label class="col-sm-2 control-label">Name</label>
                                          <div class="col-sm-4">
                                                <input class="form-control" type="text" name="Name"
                                                      placeholder="Name" ng-model="me.firstName">
                                          </div>
                                    </div>
                                    <div class="form-group">
                                          <label class="col-sm-2 control-label">UserName</label>
                                          <div class="col-sm-4">
                                                <input class="form-control" type="text" name="userName"
                                                      placeholder="UserName" ng-model="me.lastName">
                                          </div>
                                    </div>
                                    
  
            <div class="form-group">
                                          <label class="col-sm-2 control-label">Bio</label>
                                          <div class="col-sm-4">
                                               <textarea class="form-control" type="text" name="Bio"
                                                      placeholder="Bio" ng-model="me.email"></textarea>
                                          </div>
                                    </div>
  
                                    <h6>Private Information</h6>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-4">
                                              <input class="form-control" type="text" name="email"
                                                    placeholder="Email" ng-model="me.email">
                                        </div>
                                  </div>        
           
            <div class="form-group">
                                          <label class="col-sm-2 control-label">Phone</label>
                                          <div class="col-sm-4">
                                                <input class="form-control" type="text" name="phone"
                                                      placeholder="8753485784" ng-model="me.email">
                                          </div>
                                    </div>   
                                    
                                    
                                  <h6>Similar Account Suggestions</h6>
                                  <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">   
                                  <input type="checkbox" id="account" name="account" value="account">
<label for="account"> Include your account when recommending similar accounts people might want to follow.[?]</label><br>  
</div>
</div>
                                    <div class="form-group">
                                          <div class="col-sm-offset-2 col-sm-10">
                                                <button class="btn btn-primary" ng-click="updateMe()">Submit</button>
                                          </div>
                                    </div>
                              </form>
                        </div>  
      </div> 

    </div> 
    

  </div> -->