<div class="container">
    <div class="row">
        <div class="col-lg-9 offset-lg-1" style=" margin-top: 2.5rem;">
            <div class="row">
                <div class="col-lg-3">
                    <img class="rounded-circle" src="../../assets/ss.png" style="width: 3rem; height: 3rem; float:right;">
                </div>
                <div class="col-lg-9">
                    <h4>{{instaHandle}}</h4>
                </div>
            </div>
            <form class="form-horizontal" style="margin-top: 2.5rem;">
                <div class="form-group row">
                    <label class="col-lg-3 control-label text-right">Old Password</label>
                    <div class="col-lg-9">
                        <input type="password" class="form-control" name="Name"  required="required">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 control-label text-right">New Password</label>
                    <div class="col-lg-9">
                        <input type="password" class="form-control" name="Username"  required="required">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 control-label text-right">Confirm New Password</label>
                    <div class="col-lg-9">
                        <input type="password" class="form-control" name="Website"  required="required">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9 offset-lg-3">
                        <button class="btn btn-primary" ng-click="updateMe()">Change Password</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-lg-9 offset-lg-3">
                    <a href="" style="text-decoration: none;">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
