.container-fluid{
  background-color: #FAFAFA;
}
.login-card{
  background-color: white;
  border:1px solid #DBDBDB;
  margin-top: 2%;
}
.insta-image-row{
  padding:2rem 33% 0;
}
.input-row{
  padding:2.5rem 3.5rem 1rem;
}
.or-row{
  padding:0.7rem 3rem;
}
.or{
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #9999A6; 
  line-height: 0.2em;
  background:#fff;
  color: #DBDBDB;
  
} 
.or strong{
   background: white;
   padding:0 2rem;
  }


.input-1,
.input-2 {
  width: 100%;
  margin-bottom: 7px;
  padding: 9px 0px 7px 8px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
  line-height: 25px;
  background: #fafafa;
  font-family: Arial, Helvetica, sans-serif;

}

.login-btn {
  width: 100%;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  padding: 4px 12px;
  margin-top:8px;
  color: #fff;
  font-weight:normal;
  cursor: pointer;
  line-height: 25px;
  border-radius: 5px;
  font-size: medium;
}
.login-with-fb-row{
  padding:0 3rem;
}
.login-with-fb{
  width: 100%;
  background-color: white;
  color: #385185;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

input:focus {
    border-style: solid;
}
.forgot-pass-row{
  padding:0.5rem 39% 1.2rem;
}
.forgot-pass-row>a{
  font-size:0.9rem;
  color: black;
}

.below-login-row{
  margin-top: 0.7rem;
}
.below-login-row>.col-lg-3{
  background-color: white;
  border:1px solid #DBDBDB;
}
.below-login-row>.col-lg-3>.row{
  padding:1.4rem 25%;
}
.get-app-row{
  margin-top: 1rem;
}
.get-app>p{
  margin-left: 42%;
  line-height: 3rem;
  color:#262626;
  font-size:1rem; 
}
.app-img img {
  height:3rem;
}


@media (min-width: 992px) {
  .offset-lg-4 {
     margin-left: 37%; /* <- your value here */
  }
}

.was-validated :invalid~.invalid-feedback, .was-validated :invalid~.invalid-tooltip {
  display: table-caption;
}

.warning{
  color : rgb(237, 73, 86);
}