
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">
<div id="wrapper">
  <div class="main-content">
    <div class="header">
      <img src="https://i.imgur.com/zqpwkLQ.png" />
    </div>
    <div class="l-part">
      <input type="text" placeholder="Phone number, username or email" class="input-1" />
      <div >
        <input type="password" placeholder="Password" class="input-2" />
      </div>
      <input type="button" value="Log In" class="btn" />
      <div class="overlap-text">
      <a href="#">Forgot Password?</a>
    </div>
</div>
  </div>
  <div class="sub-content">
    <div class="s-part">
      Don't have an account?<a href="#"> Sign up</a>
    </div>
  </div>
</div>