.follow-btn-view-post{
    border: 0;
    background-color: white;
    
}
.dot-before-follow-btn{
    display: inline;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 1.1rem;
    font-weight: 800;
   

}
.triple-dot{
    display: inline;
    font-size: 1.1rem;
    font-weight: 800;
    
}
.control::after {
    content: url('../../assets/images/smallHeart.png');
}
#togglelike:checked ~ .control::after {
    content: url('../../assets/images/smallHeartr.png');
}

.like-control::after {
    content: url('../../assets/images/smallHeart.png');
}
#togglelikeSmall:checked ~ .like-control::after {
    content: url('../../assets/images/smallHeartr.png');
}

.like-control-big::after {
    content: url('../../assets/images/igheart.png');
}
#togglelikeBig:checked ~ .like-control-big::after {
    content: url('../../assets/images/heartr.png');
}

.visually-hidden {
    position: absolute;
    left: -100vw;
    
    
  }
.view-replies{
width: 100%; 
text-align: center; 
border-bottom: 1px solid #9999A6; 
line-height: 0.2em;
background:white;
color: #DBDBDB;

} 
.view-replies strong{
background: white;
padding:0 4rem;
}
.dropdown-toggle::after{
    display: none;
}
.caption-and-comments::-webkit-scrollbar {
    
  }
  
.caption-and-comments {
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column !important;
    width: 100%;
    overflow-y: scroll;
    flex-wrap: nowrap;
}
ul{
    list-style-type: none;
}
  