.follow-btn-view-post{
    border: 0;
    background-color: white;
    
}
.dot-before-follow-btn{
    display: inline;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 1.1rem;
    font-weight: 800;
   

}
.triple-dot{
    display: inline;
    font-size: 1.1rem;
    font-weight: 800;
    
}
.control::after {
    content: url('../../assets/images/smallHeart.png');
}
#togglelike:checked ~ .control::after {
    content: url('../../assets/images/smallHeartr.png');
}

.like-control::after {
    content: url('../../assets/images/smallHeart.png');
}
#togglelikeSmall:checked ~ .like-control::after {
    content: url('../../assets/images/smallHeartr.png');
}

.like-control-big::after {
    content: url('../../assets/images/igheart.png');
}
#togglelikeBig:checked ~ .like-control-big::after {
    content: url('../../assets/images/heartr.png');
}

.visually-hidden {
    position: absolute;
    left: -100vw;
    
    
  }

  .fa-heart-o {
    color: black;
    font-size: 1.6rem;
    cursor: pointer;
    animation: pulse .2s ease;
  }
  
  .fa-heart {
    color: red;
    font-size: 1.6rem;
    cursor: pointer;
    animation: pulse .2s ease;
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
  }

.view-replies{
width: 100%; 
text-align: center; 
border-bottom: 1px solid #9999A6; 
line-height: 0.2em;
background:white;
color: #DBDBDB;

} 
.view-replies strong{
background: white;
padding:0 4rem;
}
.dropdown-toggle::after{
    display: none;
}

.caption-and-comments::-webkit-scrollbar {
    visibility: hidden;
    
  }
   
.caption-and-comments {
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column !important;
    width: 100%;
    overflow-y: scroll;
    flex-wrap: nowrap;
}
ul{
    list-style-type: none;
}
  

.userid{
    color: #262626;
    color: rgba(var(--i1d,38,38,38),1);
    text-decoration: none;
    
  }

  
.add-comment-section{
    display: flex;
    border-top: 0.65px solid #DBDBDB;
    border-bottom: 0.65px solid #DBDBDB;
    
    & > input{
      margin-left: 0.75rem;
      border: none;
      outline: none;
      flex: 1;
    }
  
    & > button{
      background-color: white;
      display: inline-block;
      padding: 0;
      align-self: center;
      flex: 0.1;
      border: 0;
      color: #0095f6;
      color: rgba(var(--d69,0,149,246),1);
      display: inline;
      position: relative;
      cursor: pointer;
      font-weight: 500;
      padding: 5px 9px;
      text-align: center;
      text-transform: inherit;
      text-overflow: ellipsis;
    }
  }

  .like-comment-row{
    & > * {
      padding: 1.65rem 0.65rem 1.6rem 0.65rem;
    }
  }

  @media only screen and (min-width: 1024px) {
    .show-post-component{
      margin-left: 20%;
      width:66.5rem ;
    }
  }
  