<app-homenav></app-homenav>
<div class="container">
    <div class="row ml-4 mr-1">
        <div class="col-lg-3 offset-lg-1 mt-4 profile-image-div">
            <img src="../../assets/ss.png" alt="Profile Image" class="rounded-circle profile-img">
        </div>
        <div class="col-lg-8 mt-4 profile-details">
            <div class="row edit-profile-div">
                <h3 class="user-name mr-3">{{username}}</h3>
                <a routerLink="/accounts/edit"><button class="btn edit-profile-btn mr-3"><b>Edit Profile</b></button></a>
                <img src="https://image.flaticon.com/icons/svg/481/481271.svg" class="mt-1 settings-img">
            </div>

            <div class="row follow-div mt-3">
                <ul class="follow-list">
                    <li>
                        <span><b>{{posts}}</b> posts</span>
                    </li>
                    <li>
                        <span><a (click)="getFollowers()"><b>{{followers}}</b> followers</a></span>
                    </li>
                    <li>
                        <span><a (click)="getFollowing()" ><b>{{following}}</b> following </a></span>
                    </li>
                </ul> 
            </div>
            <div class="row description-div">
                <p><b>{{name}}</b></p>
                <p>{{bio}}</p>
            </div>    
        </div>
    </div>
</div>
<app-image-gallery></app-image-gallery>


<!-- <div class="d-sm-none d-md-block d-none d-sm-block mt-5">
    <div class="row mx-4">
        <div class="col-md-3 offset-md-1">
            <img src="../../assets/ss.png" alt="Profile Image" class="mr-2 ml-3 rounded-circle profile-img align-self-center">
        </div>
    
        <div class="col-md-4">
            <div class="d-flex">     
                <h3 class="user-name">{{username}}</h3>
                <a routerLink="/editProfile"><button class="btn border btn-color btn-sm py-0 ml-2"><b>Edit Profile</b></button></a>
            </div>
            <div>
                <ul class="d-flex justify-content-between pl-0">
                    <li class="mr-3">
                        <span><b>{{posts}}</b> posts</span>
                    </li>
                    <li class="mr-3">
                        <span><b>{{following}}</b> following</span>
                    </li>
                    <li class="mr-3">
                        <span><b>{{followers}}</b> followers</span>
                    </li>
                </ul>
            </div>
            <div class="bio-name">
                <p>{{name}}</p>
                <p>{{bio}}</p>
            </div>
        </div>
    </div>
</div> -->


<!-- For smaller screens -->
<!-- <div class="d-block d-sm-none mt-2">

    <div class="row mx-2">
        <div class="col-3 offset-1">
            <img src="../../assets/ss.png" alt="Profile Image" class="profile-sm-img rounded-circle">
        </div>    
        <div class="col-7">
            <h3 class="user-name">{{username}}</h3>
            <a routerLink="/editProfile"><button class="btn border btn-color btn-sm w-100"><b>Edit Profile</b></button></a>
        </div>
    </div>

    <div class="mx-3 mt-3">
        <h6>{{name}</h6>
        <p>
            {{bio}}
        </p>
    </div>

    <hr class="m-3">
    <div class="d-flex ">
        <ul class="d-flex justify-content-around my-auto pl-0 w-100">
            <li class="mr-3">
                <span><b>{{posts}}</b> posts</span>
            </li>
            <li class="mr-3">
                <span><b>{{following}}</b> following</span>
            </li>
            <li class="mr-3">
                <span><b>{{followers}}</b> followers</span>
            </li>
        </ul>
    </div>
    <hr class="m-3">
</div> -->

