
.profile-img{
    width: 11rem;
    height: 11rem;
    border: 3px solid #ddd;
    padding: 5px;
}

.edit-profile-btn{
    color: gray;
    border: 1px solid #DBDBDB;
}

/* .follow-btn{
    color: gray;
    border: 1px solid #DBDBDB;
} */

.insta-handle-div{
    padding-right: 3rem;

}
.user-name{
    font-weight: 300;
}
.settings-img{
    width: 2rem;
    height: 2rem;
}
.follow-list{
    list-style-type: none;

}
.follow-list>li{
    float: left;
    margin-right: 3rem;
    
}
.description-div{
    
}
/* 
.profile-sm-img{
    width: 5rem;
    height: 5rem;
}
.user-name{
    font-weight: lighter;
}
.btn-color{
    font-weight: 300;
    background-color: #fafafa;
}

b{
    font-weight: lighter;
}
li{
    list-style-type: none;
}
h5{
    font-weight: normal;
} */