
.profile-img{
    width: 11rem;
    height: 11rem;
    border: 3px solid #ddd;
    padding: 5px;
}

.edit-profile-btn{
    color: gray;
    border: 1px solid #DBDBDB;
}
.insta-handle-div{
    padding-right: 3rem;

}
.user-name{
    font-weight: 300;
}
.settings-img{
    width: 2rem;
    height: 2rem;
}
.follow-list{
    list-style-type: none;

}
.follow-list>li{
    float: left;
    margin-right: 3rem;
    
}
.modal-content  {
    -webkit-border-radius: 1rem !important;
    -moz-border-radius: 1rem !important;
    border-radius: 1rem !important; 
}
#settingsModal .modal-header:hover{
    cursor: pointer;
}
