
.profile-img{
    width: 9rem;
    height: 9rem;
}
.profile-sm-img{
    width: 5rem;
    height: 5rem;
}
.user-name{
    font-weight: lighter;
}
.btn-color{
    font-weight: 300;
    background-color: #fafafa;
}

b{
    font-weight: lighter;
}
li{
    list-style-type: none;
}
h5{
    font-weight: normal;
}