<!-- Modal 1 Followers Modal -->
<div class="modal" id="followersModal">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
      
          <!-- Modal Header -->
          <div class="modal-header text-center">
            <p class="modal-title w-100"><b>Followers</b></p>
            <button type="button" class="close" data-dismiss="modal" >&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body" *ngFor="let followers of followersArray">
              <div class="row">
                <div class="col-lg-2">
                    <img src="../../assets/ss.png" class="rounded-circle follwers-img" alt="">
                </div>
                <div class="col-lg-7">
                  <div class="followers-username" ><a [routerLink]="['../',followers.follower.followerId._id]" (click)="loadUserData(null, followers.follower.followerId.instaHandle)" data-dismiss="modal"><b>{{followers.follower.followerId.instaHandle}}</b></a></div>
                  <div class="followers-name">{{followers.follower.followerId.name}}</div>
                </div>
                <div class="col-lg-3">
                    <a  ><button class="btn btn-primary follow-btn" *ngIf="followers.follower.followerId._id != loggedinUserId && !followers.relation" (click)="follow(followers.follower.followerId._id)">Follow</button></a>
                    <a ><button class="btn unfollow-btn" *ngIf="followers.follower.followerId._id != loggedinUserId && followers.relation" (click)="unfollow(followers.follower.followerId._id)">Following</button></a>
                </div>
              </div>    
          </div>
      
        </div>
      </div>
  </div>

<!-- Modal 2 Following Modal -->
  <div class="modal" id="followingModal">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
      
          <!-- Modal Header -->
          <div class="modal-header text-center">
            <p class="modal-title w-100"><b>Following</b></p>
            <button type="button" class="close" data-dismiss="modal" >&times;</button>
          </div>
    
          <!-- Modal body -->
          
          <div class="modal-body-size-fix">
              <div class="modal-body" *ngFor="let following of followingArray">
                <div class="row">
                    <div class="col-lg-2">
                        <img src="../../assets/ss.png" class="rounded-circle following-img" alt="">
                    </div>
                    <div class="col-lg-7">
                      <div class="following-username"><a [routerLink]="['../',following.following.followingId._id]" (click)="loadUserData(null, following.following.followingId.instaHandle)" data-dismiss="modal"><b>{{following.following.followingId.instaHandle}}</b></a></div>
                      <div class="following-name">{{following.following.followingId.name}}</div>
                    </div>
                    <div class="col-lg-3">
                        <a ><button class="btn btn-primary follow-btn" *ngIf="following.following.followingId._id != loggedinUserId && !following.relation" (click)="follow(following.following.followingId._id)">Follow</button></a>
                        <a ><button class="btn unfollow-btn" *ngIf="following.following.followingId._id != loggedinUserId && following.relation" (click)="unfollow(following.following.followingId._id)">Following</button></a>
                    </div>
                  </div> 
              </div>
      
          </div>    
        </div>
      </div>
  </div>


<!-- Modal 3 Settings Modal -->
<div class="modal" id="settingsModal">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header text-center">
                <a [routerLink]="['../../accounts/edit/changePassword']" data-dismiss="modal" class="modal-title w-100 changePassword">Change Password</a>
            </div>
            <div class="modal-header text-center">
                <a class="modal-title w-100" data-dismiss="modal" (click)="logout()">Logout</a>
            </div>
            <div class="modal-header text-center">
                <p class="modal-title w-100" data-dismiss="modal">Cancel</p>
            </div>
            <div class="modal-header text-center">
                <p class="modal-title w-100">Name Tag</p>
            </div>
            <div class="modal-header text-center">
                <p class="modal-title w-100">Apps and Websites</p>
            </div>
            <div class="modal-header text-center">
                <p class="modal-title w-100">Notifications</p>
            </div>
            <div class="modal-header text-center">
                <p class="modal-title w-100">Privacy and Security</p>
            </div>
            <div class="modal-header text-center">
                <p class="modal-title w-100">Login Activity</p>
            </div>
            <div class="modal-header text-center">
                <p class="modal-title w-100">Emails from Instagram</p>
            </div>
      
        </div>
      </div>
  </div>

  <!-- Modal 4 upload picture Modal -->
<div class="modal" id="uploadPicModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header text-center" style="padding: 1.5rem;">
                <p class="modal-title w-100"><b>Profile Picture</b></p>
            </div>
            <div class="modal-header text-center">
                <a class="modal-title w-100" style="color:#3798F0"><b>Upload Photo</b></a>
            </div>
            <div class="modal-header text-center">
                <p class="modal-title w-100 removePhoto"><b>Remove Current Photo</b></p>
            </div>
            <div class="modal-header text-center">
                <p class="modal-title w-100" data-dismiss="modal">Cancel</p>
            </div>
        </div>
      </div>
  </div>




<app-homenav></app-homenav>
<div class="container">
    <div class="row ml-4 mr-1">
        <div class="col-lg-3 offset-lg-1 mt-4 profile-image-div">
            <img [src]="image" alt="Profile Image" class="rounded-circle profile-img" data-toggle="modal" data-target="#uploadPicModal">
        </div>
        <div class="col-lg-8 mt-4 profile-details">
            <div class="row edit-profile-div">
                <h3 class="user-name mr-3">{{username}}</h3>

                <a routerLink="/accounts/edit" [style.display]="editButton ? 'block' : 'none'"  ><button class="btn edit-profile-btn mr-3"><b>Edit Profile</b></button></a>
                <a [style.display]="followButton ? 'block' : 'none'" ><button class="btn btn-primary mr-3" (click)="followObj()"><b>Follow</b></button></a>
                <a [style.display]="unfollowButton ? 'block' : 'none'" ><button class="btn edit-profile-btn mr-3" (click)="unfollowObj()"><b>Following</b></button></a>
                <img src="https://image.flaticon.com/icons/svg/481/481271.svg" [style.display]="editButton ? 'block' : 'none'" data-toggle="modal" data-target="#settingsModal" class="mt-1 settings-img">

            </div>
            <div class="row follow-div mt-3">
                <ul class="follow-list">
                    <li>
                        <span><b>{{posts}}</b> posts</span>
                    </li>
                    <li>
                        <span><a (click)="getFollowers()" data-toggle="modal" data-target="#followersModal"><b>{{followers}}</b> followers</a></span>
                    </li>
                    <li>
                        <span><a (click)="getFollowing()" data-toggle="modal" data-target="#followingModal"><b>{{following}}</b> following </a></span>
                    </li>
                </ul> 
            </div>
            <div class="row name-div">
                <p><b>{{name}}</b></p>
            </div>
            <div class="row bio-div">
                <p>{{bio}}</p>
            </div>    
        </div>
    </div>
</div>
<app-image-gallery></app-image-gallery>


<!-- <div class="d-sm-none d-md-block d-none d-sm-block mt-5">
    <div class="row mx-4">
        <div class="col-md-3 offset-md-1">
            <img src="../../assets/ss.png" alt="Profile Image" class="mr-2 ml-3 rounded-circle profile-img align-self-center">
        </div>
    
        <div class="col-md-4">
            <div class="d-flex">     
                <h3 class="user-name">{{username}}</h3>
                <a routerLink="/editProfile"><button class="btn border btn-color btn-sm py-0 ml-2"><b>Edit Profile</b></button></a>
            </div>
            <div>
                <ul class="d-flex justify-content-between pl-0">
                    <li class="mr-3">
                        <span><b>{{posts}}</b> posts</span>
                    </li>
                    <li class="mr-3">
                        <span><b>{{following}}</b> following</span>
                    </li>
                    <li class="mr-3">
                        <span><b>{{followers}}</b> followers</span>
                    </li>
                </ul>
            </div>
            <div class="bio-name">
                <p>{{name}}</p>
                <p>{{bio}}</p>
            </div>
        </div>
    </div>
</div> -->


<!-- For smaller screens -->
<!-- <div class="d-block d-sm-none mt-2">

    <div class="row mx-2">
        <div class="col-3 offset-1">
            <img src="../../assets/ss.png" alt="Profile Image" class="profile-sm-img rounded-circle">
        </div>    
        <div class="col-7">
            <h3 class="user-name">{{username}}</h3>
            <a routerLink="/editProfile"><button class="btn border btn-color btn-sm w-100"><b>Edit Profile</b></button></a>
        </div>
    </div>

    <div class="mx-3 mt-3">
        <h6>{{name}</h6>
        <p>
            {{bio}}
        </p>
    </div>

    <hr class="m-3">
    <div class="d-flex ">
        <ul class="d-flex justify-content-around my-auto pl-0 w-100">
            <li class="mr-3">
                <span><b>{{posts}}</b> posts</span>
            </li>
            <li class="mr-3">
                <span><b>{{following}}</b> following</span>
            </li>
            <li class="mr-3">
                <span><b>{{followers}}</b> followers</span>
            </li>
        </ul>
    </div>
    <hr class="m-3">
</div> -->

