<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    
  </head>
  <body>
    
   

<div class="wrapper">
  <div class="profile">
    <div class="content">
      <h1>Edit Profile</h1>
      <form action="">
        <!-- Photo -->
        <fieldset>
          <div class="grid-35">
            <label for="avatar">Your Photo</label>
          </div>
          <div class="grid-65">
            <span class="photo" title="Upload your Avatar!"></span>
            <input type="file" class="btn" />
          </div>
        </fieldset>
        <fieldset>
          <div class="grid-35">
            <label for="fname">Name</label>
          </div>
          <div class="grid-65">
            <input type="text" id="fname" tabindex="1" />
          </div>
        </fieldset>
        <fieldset>
          <div class="grid-35">
            <label for="lname">UserName</label>
          </div>
          <div class="grid-65">
            <input type="text" id="lname" tabindex="2" />
          </div>
        </fieldset>
        <fieldset>
          <div class="grid-35">
            <label for="lname">Website</label>
          </div>
          <div class="grid-65">
            <input type="text" id="lname" tabindex="2" />
          </div>
        </fieldset>
        <!-- Description about User -->
        <fieldset>
          <div class="grid-35">
            <label for="description">Bio</label>
          </div>
          <div class="grid-65">
            <textarea name="" id="" cols="30" rows="auto" tabindex="3"></textarea>
          </div>
        </fieldset>
        <!-- Email-->
        <fieldset>
          <div class="grid-35">
            <label for="email">Email Address</label>
          </div>
          <div class="grid-65">
            <input type="email" id="email" tabindex="6" />
          </div>
        </fieldset>
        <fieldset>
          <div class="grid-35">
            <label for="school">Phone Number</label>
          </div>
          <div class="grid-65">
            <input type="text" id="phone" tabindex="9" />
          </div>
        </fieldset>
        <!-- Company Name -->
        <fieldset>
          <div class="grid-35">
            <label for="company">Gender</label>
          </div>
          <div class="grid-65">
            <input type="text" id="company" tabindex="10" />
          </div>
        </fieldset>
</form>
    </div>
  </div>
</div>
</body>
</html>

