<div class="col-md-3 mb-3 order-2 order-md-3">
  <div class="card shadow">
    <div class="card-body">
      <div style="clear: both">
        <h5 class="head-design" style="float: left">Suggestions for you</h5>
        <h5 class="text-design" style="float: right">See All</h5>
      </div>
      <hr />
      <div *ngFor="
          let user of usersArray">
        <p><img src="https://picsum.photos/200/200?random" class="rounded-circle float-left mr-2" width="40">
          <a [routerLink]="['/profile', user._id]" href="" class="text-design">{{user.name}} <small class="about-design">{{user.instaHandle}}</small></a></p>
        <hr>
      </div>
    </div>
    </div>
    </div>
  