<div class="col-md-3 mb-3 order-2 order-md-3">
  <div class="card shadow mb-3">
    <div class="card-body">
      <div style="clear: both">
        <h5 class="head-design" style="float: left">Suggestions for you</h5>
        <h5 class="text-design" style="float: right">See All</h5>
      </div>
      <hr />
      <div *ngFor="
          let user of usersArray">
        <p><img src="https://picsum.photos/200/200?random" class="rounded-circle float-left mr-2" width="40">
          <a href="#" class="text-design">{{user.name}} <small class="text-design">@LoremIpsum</small></a></p>
        <!-- <a  ><button class="btn btn-primary follow-btn" *ngIf="followers.follower.followerId._id != loggedinUserId && !followers.relation" (click)="follow(followers.follower.followerId._id)">Follow</button></a>
            <a ><button class="btn unfollow-btn" *ngIf="followers.follower.followerId._id != loggedinUserId && followers.relation" (click)="unfollow(followers.follower.followerId._id)">Following</button></a> -->
        <!-- <div class="col-lg-3">
            <a  ><button class="btn btn-primary follow-btn" *ngIf="followers.follower.followerId._id != loggedinUserId && !followers.relation" (click)="follow(followers.follower.followerId._id)">Follow</button></a>
            <a ><button class="btn unfollow-btn" *ngIf="followers.follower.followerId._id != loggedinUserId && followers.relation" (click)="unfollow(followers.follower.followerId._id)">Following</button></a>
        </div> -->
        <hr>
      </div>
    </div>