.head-design{
    color: rgba(var(--f52,142,142,142),1);
    font: 14px;
}
.text-design{
    color: #262626 !important;
    font: 12px;
}
.card-body{
    margin-left: -250px;
    background-color: #ffffff;
    min-width: 340px;
    width: 340px;
    max-height: 500px;
    margin-top: -80px;
    position: fixed; 
    overflow: auto; 
}
hr{
border-color: #ffffff;
}