<div mat-dialog-content >
  <div>
    <p><b>Likes</b></p>
    
    <button type="button" mat-button mat-dialog-close>&times;</button>
  </div>

  <div *ngFor="let like of likesArray">
    <div class="row">
      <div class="col-lg-2">
        <img
          src="../../assets/ss.png"
          class="rounded-circle follwers-img"
          alt=""
        />
      </div>
      <div class="col-lg-7">
        <div class="followers-username">
          <a
            [routerLink]="['../../profile', like.like.likedBy.instaHandle]"  
            mat-dialog-close
            ><b>{{like.like.likedBy.instaHandle}}</b></a
          >
        </div>
        <div class="followers-name">{{like.like.likedBy.name}}</div>
      </div>
      <div class="col-lg-3">
        <!-- {{like.like.likedBy._id}} -->
        
        <button
            class="btn btn-primary follow-btn"
            *ngIf="
            like.like.likedBy._id != loggedInUserId &&
              !like.relation
            "
            (click)="follow(like.like.likedBy.instaHandle)"
          >
            Follow
          </button>
          <button
            class="btn unfollow-btn"
            *ngIf="
            like.like.likedBy._id != loggedInUserId &&
              like.relation
            "
            (click)="unfollow(like.like.likedBy.instaHandle)"
          >
            Following
          </button>
      </div>
    </div>
  </div>
</div>
