<<<<<<< HEAD
=======
/* You can add global styles to this file, and also import other style files */
body{
    background-color: #fafafa;
}
.container {
    max-width: 0.1rem;
    margin: 0 auto;
    padding: 0 2rem;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}
.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
}
.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
>>>>>>> 5626a89d0592fff58f63000ea6d571b57d3ff748
