.changeDP{
    text-decoration: none;   
}
.modal-content  {
    -webkit-border-radius: 1rem !important;
    -moz-border-radius: 1rem !important;
    border-radius: 1rem !important; 
}
.removePhoto{
    color: red;
}
.cursor-pointer:hover{
    cursor: pointer;
}

.warning{
    color : rgb(237, 73, 86);
  }

  small{
    padding: 1rem;
  }