<div class="modal" id="uploadPicModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header text-center" style="padding: 1.5rem;">
                <p class="modal-title w-100"><b>Profile Picture</b></p>
            </div>
            <form class="modal-header text-center cursor-pointer" #form="ngForm" (ngSubmit)="onSubmit()">
                <label class="modal-title w-100 cursor-pointer" name="imageUpload" style="color:#3798F0" for="profileImageInput">
                </label>
                <input type="file" name="imageUpload" id="photo" accept="image/*" ngModel #input="ngModel" (change)="selectImage($event)"  />
                <button type="submit">Upload Photo</button>
            </form>
            <div class="modal-header text-center cursor-pointer">
                <p class="modal-title w-100 removePhoto"><b>Remove Current Photo</b></p>
            </div>
            <div class="modal-header text-center">
                <p class="modal-title w-100 cursor-pointer" data-dismiss="modal">Cancel</p>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="genderModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header text-center" style="padding: 1.5rem;">
                <p class="modal-title w-100"><b>Gender</b></p>
            </div>
            <div class="modal-body">
                <label class="radio">
                    <input type="radio" name="gender"  value="male" (click)="radioButtonValue('Male')"> Male
                </label><br>
                <label class="radio">
                    <input type="radio" name="gender" value="female" (click)="radioButtonValue('Female')"> Female
                  </label><br>
                <label class="radio">
                    <input type="radio" name="gender" value="not to say" (click)="radioButtonValue('Not to say')"> Prefer Not To Say
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="width: 100%;" data-dismiss="modal">Done</button>
            </div>
                 
            
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-9 offset-lg-1" style=" margin-top: 2.5rem;">
            <form class="form-horizontal" #form="ngForm">
            <div class="row">
                <div class="col-lg-3">
                    <img class="rounded-circle" id="profilePic" src="../../assets/ss.png" style="width: 3rem; height: 3rem; float:right;">
                </div>
                <div class="col-lg-9">
                    <h5>{{username}}</h5>
                    <a href="" class="changeDP" data-toggle="modal" data-target="#uploadPicModal">Change Profile picture</a>
                </div>
            </div>
            
                <div class="form-group row">
                    <label class="col-lg-3 control-label text-right">Name</label>
                    <div class="col-lg-8">
                        <input type="text" ngModel class="form-control" name="Name" #uname [(value)]="name"  required="required">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 control-label text-right">Username</label>
                    <div class="col-lg-8">
                        <input type="text" ngModel class="form-control" #uinstaHandle name="Username" value="{{username}}"  required="required">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 control-label text-right">Website</label>
                    <div class="col-lg-8">
                        <input type="text" ngModel class="form-control" #uwebsite name="Website" value="{{website}}" required="required">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 control-label text-right">Bio</label>
                    <div class="col-lg-8">
                        <textarea class="form-control" type="text" #uabout name="Bio" value="{{bio}}"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-3">
                        <h5>Personal Informatiom</h5>
                        <p>Provide your personal information, even if the account is used for a business, a pet or something else. This won't be a part of your public profile.</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 control-label text-right">Email</label>
                    <div class="col-lg-8">
                        <input name="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" ngModel type="email" #uemail name="email" value="{{email}}" required="required">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 control-label text-right">Phone Number</label>
                    <div class="col-lg-8">
                        <input type="text" ngModel class="form-control" #uphone name="mobile" value="{{phone}}" required="required">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 control-label text-right">Gender</label>
                    <div class="col-lg-8">
                        <input id="genderInput" ngModel  type="text" class="form-control" #ugender value="{{gender}}" data-toggle="modal" data-target="#genderModal">
                        <!-- <label class="radio-inline mr-3">
                            <input type="radio" name="gender" value="male" onclick="radioButtonValue(this.value)">male
                          </label>
                          <label class="radio-inline mr-3">
                            <input type="radio" name="gender" value="female" onclick="radioButtonValue(this.value)">female
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="gender" value="not to say" onclick="radioButtonValue(this.value)">not to say
                          </label> -->
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 control-label text-right">Similar Account Suggestions</label>
                    <div class="col-lg-6">
                        <input class="col-lg-1" ngModel type="checkbox" name="recommendation" value="">
                        <label style="line-height: 0.8;" class="col-lg-11" for="recommendation">Include your account when recommending similar accounts people might want to follow.</label>
                    </div>
                </div>
                <div >
                <!-- <small style="text-align: center;" [style.display]="form.valid">
                    Enter a valid email address.
                </small> -->
                <small style="text-align: center;" [style.display]="warning ? 'block' : 'none'">
                
                    {{warningText}}
                </small>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9 offset-lg-3 outDiv">
                        <button class="btn btn-primary" [disabled]="form.pristine" (click)="update()">Submit</button>
                    </div>
                </div>    
            </form> 
        </div>
    </div>
</div>