*{
  font-family: inherit;
}
.image{
 max-width:100%;
 display:block;
 
 
 height:auto;
 
}
#username{
  font-weight:bold;
  margin-left:2px;
}

.location{

  font-size:15px;
  color:black;
  margin-left:0.5rem;
}
.name{
  background:white;
  font-size:15px;
  color:black;
  font-weight:bold;
  float:right;
  
}
.time{
  background:white;
  font-size:15x;
  color:black;
  font-weight:10px;
  float:right;
}

.container{
  background:white;
  padding-top:50px;
  width:50rem;
  height:100vh;
  max-width:100vw;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.card-header{

  background:white;
   display:flex;
   justify-content:flex-start;
   
}
#responsive {
  
   height: auto;
  max-width:18.25rem;
  left:0;
   right:0;
   float:left;
   

 }
 #btn{
  cursor:pointer;
  width:100%;
 } 
.card{
background:white;
/* margin :0 100px;*/
width:19.25rem;
height:auto;
top:75px;
 bottom:0;
margin-left:10%;
border:none;
margin-top:8%;
border-radius:3px;

}
/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 0;
  display:inline-flex;
  margin-right:20px;
  
}
.icon{
    margin-top:2%;
    margin-right:20px;
    margin-bottom:0;
    margin-left:20px;
}
.card-header{

  background:white;
   display:flex;
   justify-content:flex-start;
   
}
.profile-info{
   display:inline-block;
   
    
    
}
.like{
margin-top:0;
padding:0;

}
.comment-intro{
margin-top:5px;
padding:0;
background-color:white;
color:#999;
line-height:inherit;
}
.comments{
  background-color:white;
  color:black;
  line-height:inherit;
  display:flex;
  flex-direction:column;
  margin-top:-20px;
}
.comm-para{
  margin-left:2%;   
}
.mycard-footer{
padding:0;
box-sizing :border-box;

}
.comment-link{
 cursor:pointer;
 text-decoration: none;
 text-transform:  blue;
}

button{
text-transform:none;
letter-spacing:normal;
text-shadow:none;
text-align:center;
box-sizing:border-box;

}

#comment{
  font: 1em sans-serif;
  width:100%;
}

.control::after {
    content: url('../../assets/images/igheart.png');
}

#togglelike:checked ~ .control::after {
    content: url('../../assets/images/heartr.png');
}

#activity{
  margin-top: 1vh;
  margin-left: 6vw;
  width:20%;
}
.visually-hidden {
  position: absolute;
  left: -100vw;
  
  
}
.control{
  padding-left: 2vw;
  padding-right: 2vw;
  
}
button{
  width:100px;
  height:30px;
  float:right;
  background-color:white;
  border:none;
  color:blue;
}

button .msg-follow,
button .msg-unfollow{
  display: none;
}

button .msg-follow{
  display: inline;
}

button.following .msg-follow{
  display: none;
}

button.following:not(.wait):hover .msg-unfollow{
  display: inline;
}


.viewComments{
color: #8e8e8e;
text-decoration: none;
}

a{
  cursor: pointer;
}

@media (max-width: 425px) {
  .col-12{
     width: 425px;
  }
}

.like-comment-row{
  & > * {
    padding: 1.65rem 0.65rem 1.6rem 0.65rem;
  }
}

.userid{
  color: #262626;
  color: rgba(var(--i1d,38,38,38),1);
  margin-right: 0.65rem;
  text-decoration: none;
  padding-left: 0.75rem;
}

.add-comment-section{
  display: flex;
  border-top: 0.65px solid #DBDBDB;
  border-bottom: 0.65px solid #DBDBDB;
  
  & > input{
    margin-left: 0.75rem;
    border: none;
    outline: none;
    flex: 1;
  }

  & > button{
    display: inline-block;
    padding: 0;
    align-self: center;
    flex: 0.1;
    border: 0;
    color: #0095f6;
    color: rgba(var(--d69,0,149,246),1);
    display: inline;
    position: relative;
    cursor: pointer;
    font-weight: 500;
    padding: 5px 9px;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
  }
}

.fa-heart-o {
  color: black;
  font-size: 1.6rem;
  cursor: pointer;
  animation: pulse .2s ease;
}

.fa-heart {
  color: red;
  font-size: 1.6rem;
  cursor: pointer;
  animation: pulse .2s ease;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

.row-time{
  line-height: 1.2rem;
  color: #8e8e8e;
  text-decoration: none;
  font-size: 0.75rem;
  text-transform: uppercase;
}