*{
  font-family: inherit;
}
.image{
 max-width:100%;
 display:block;
 
 
 height:auto;
 
}
#username{
  font-weight:bold;
  margin-left:2px;
}

.location{

  font-size:15px;
  color:black;
  margin-left:0.5rem;
}
.name{
  background:white;
  font-size:15px;
  color:black;
  font-weight:bold;
  float:right;
  
}
.time{
  background:white;
  font-size:15x;
  color:black;
  font-weight:10px;
  float:right;
}

.container{
  background:white;
  padding-top:50px;
  width:50rem;
  height:100vh;
  max-width:100vw;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.card-header{

  background:white;
   display:flex;
   justify-content:flex-start;
   
}
#responsive {
  
   height: auto;
  max-width:18.25rem;
  left:0;
   right:0;
   float:left;
   

 }
 #btn{
  cursor:pointer;
  width:100%;
 } 
.card{
background:white;
/* margin :0 100px;*/
width:19.25rem;
height:auto;
top:75px;
 bottom:0;
margin-left:10%;
border:none;
margin-top:8%;
border-radius:3px;

}
/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 0;
  display:inline-flex;
  margin-right:20px;
  
}
.icon{
    margin-top:2%;
    margin-right:20px;
    margin-bottom:0;
    margin-left:20px;
}
.card-header{

  background:white;
   display:flex;
   justify-content:flex-start;
   
}
.profile-info{
   display:inline-block;
   
    
    
}
.like{
margin-top:0;
padding:0;

}
.comment-intro{
margin-top:5px;
padding:0;
background-color:white;
color:#999;
line-height:inherit;
}
.comments{
  background-color:white;
  color:black;
  line-height:inherit;
  display:flex;
  flex-direction:column;
  margin-top:-20px;
}
.comm-para{
  margin-left:2%;   
}
.mycard-footer{
padding:0;
box-sizing :border-box;

}
.comment-link{
 cursor:pointer;
 text-decoration: none;
 text-transform:  blue;
}

button{
text-transform:none;
letter-spacing:normal;
text-shadow:none;
text-align:center;
box-sizing:border-box;

}

#comment{
  font: 1em sans-serif;
  width:100%;
}
  .control::after {
    content: url('../../assets/images/igheart.png');
}
#togglelike:checked ~ .control::after {
    content: url('../../assets/images/heartr.png');
}
#activity{
  margin-top: 1vh;
  margin-left: 6vw;
  width:20%;
}
.visually-hidden {
  position: absolute;
  left: -100vw;
  
  
}
.control{
  padding-left: 2vw;
  padding-right: 2vw;
  
}
button{
  width:100px;
  height:30px;
  float:right;
  background-color:white;
  border:none;
  color:blue;
}

button .msg-follow,
button .msg-unfollow{
  display: none;
}

button .msg-follow{
  display: inline;
}

button.following .msg-follow{
  display: none;
}

button.following:not(.wait):hover .msg-unfollow{
  display: inline;
}