.gallery_product
{
    margin-bottom: 30px;
}
.img-responsive{
    
    width: 21.25rem;
    height: 21.25rem;
    
}
.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
.gallery_product:hover .gallery-item-info,
.gallery_product:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 21.25rem;
    height: 21.25rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}
.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}
