<div class="container mt-5">
  <div class="gallery-item row">
      <div *ngFor = "let img of allImages" class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
          <img src={{img}} class="img-responsive">
          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fa fa-heart" aria-hidden="true"></i> 89</li>
              <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fa fa-comment" aria-hidden="true"></i> 5</li>
            </ul>
          </div>
      </div>
  </div>
</div>


<!-- <div class="container">
  <div class="gallery row">
      <div *ngFor = "let img of allImages" class="col-md-4">
        <div class="thumbnail gallery-item row">
          <img src={{img}} alt="image">
          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fa fa-heart-o" aria-hidden="true"></i> 89</li>
              <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fa fa-comment" aria-hidden="true"></i> 5</li>
            </ul>
          </div>
        </div>
      </div> 
  </div>
</div> -->
   
<!-- <div class="container">
  <div class="gallery">
      <div *ngFor = "let img of allImages">
        <div class="gallery-item row">
          <img src={{img}} class="gallery-image" alt="">  
            <div class="gallery-item-info">
              <ul>
                <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fa fa-heart-o" aria-hidden="true"></i> 89</li>
                <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fa fa-comment" aria-hidden="true"></i> 5</li>
              </ul>
            </div>
          </div>
        </div>
    </div>
</div> -->
