<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 
			 
			    <div class=" col-xs-12">
               
					<div class="box-part text-center">
                        <div class="btn-o bg" class="button" data-scribe="component:button" ><a href="https://www.instagram.com/myurl/" class="btn" id="b"><i class="fa fa-instagram ft14"></i><span class="label" id="l"></span></a></div>
                    </div>
                        <!-- <button ><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></button> -->
                
						
                        <div class="form-group text-center">
                            <label>Add post</label>
                            <input class="form-control" type="text" name="fullname" required placeholder="Write your thoughts!!"/>
                            <span class="Error"></span>
                        </div>
                        
						<div class="form-group text-center ">
                            <input class="btn btn-primary btn-block" type="submit" value="Post"/>
                        </div>
                        
					 </div>
				 
