<nav class="navbar fixed-top navbar-light bg-white" id="nav">
    <div class="container">
      <div id="logo">
         <img id="ig" src="../../assets/images/iglogo.png">
         <img id="bar" src="../../assets/images/Untitled.png"/>
         <img id="lettering" src="../../assets/images/letter.png"/>
     </div>
     
     <div class="searchContainer"> 
        <input id="searchInput" type="search" placeholder="Search" value="">
    </div>
     <div id="activity">
            <input type="checkbox" id="exploreToggle" class="visually-hidden">
            <label for="exploreToggle"  class="exploreControl"></label>       
            <input type="checkbox" id="toggle" class="visually-hidden">
            <label for="toggle"  class="control"></label>
            <input type="checkbox" id="userToggle" class="visually-hidden">
            <label for="userToggle"  class="userControl"></label>
     </div>
     
      
    </div>  
  </nav>
   