<nav class="navbar fixed-top navbar-light bg-white" id="nav">
  <div class="container">
      <div id="logo">
         <!-- <img id="ig" src="../../assets/images/iglogo.png" routerLink='/feed'> -->
         <!-- <img id="bar" src="../../assets/images/Untitled.png" routerLink='/feed'> -->
         <img id="lettering" src="../../assets/images/letter.png" routerLink='/feed'>
      </div>
     
     <div class="searchContainer boxes"> 
        <input #searchBox (input)="search(searchBox.value)" id="searchBox" type="search" placeholder="Search" value=""/>
        <ul class="search-result " [style.display]="isVisible ? 'block' : 'none'" >
            <li *ngFor="let user of users$ | async" >
              <a [routerLink]="['/profile', user._id]" (click)="searchUser(user._id)">
                {{user.instaHandle}}
              </a>
            </li>
        </ul> 
    </div>
     <div id="activity">
            <input type="checkbox" id="exploreToggle" class="visually-hidden">
            <label for="exploreToggle"  class="exploreControl"></label>       
            <input type="checkbox" id="toggle" class="visually-hidden">
            <label for="toggle"  class="control"></label>
            <input type="checkbox" id="userToggle" class="visually-hidden">
            <label for="userToggle"  class="userControl" (click)="myProfile()"></label>
     </div>
     <div class="nav-item">
      <a class="nav-link" routerLink="/login" (click)="logout()">Logout</a>
     </div> 
  </div>  
</nav>